* {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none;
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -10;
}


.oom {
	z-index: 10;
}
